<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="image_url_box">
          Image 
        </label>

        <input type="file" id="image_url_box" name="image_url_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="caption_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Add photo to last update
      </button>
    </form>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h4>
      <a href="/updates">I'm done adding photos.</a>
    </h4>
    </div>
    </div>



